.login-top-row {
    padding-top: 10%
}

.login-input {
    border-radius: 0;
}

.form-group .input-group .form-control {
    border-radius: 0;
}

.login-jum {
    background-color: #FAEBD7;
    width: 80%;
    margin-left: 10%;
}

.login-btn {
    border-radius: 0;
    background-color: darkslategrey;
    color: white;
}

.login-btn:hover:focus:visited {
    background-color: gray;
    color: black;
}

.login-btn:active {
    background-color: black;
    color: white;
    transform: translateY(3px);
}

.register-link{
    color: black;
    padding-top: 10px;
}

.register-link:hover{
    text-decoration: none;
    color: gray;
}

.login-form{
    padding-bottom: 10px;
}

.error-login-message {
    color: red;
    font-family: sans-serif;
}
