.register-input{
    font-size: 20px;
}

.register-jum{
    background-color: #FAEBD7;
    width: 100%;
}

.register-label{
    margin-bottom: 5%;
}

.register-btn {
    border-radius: 0;
    background-color: darkslategrey;
    color: white;
}

.register-btn:hover:focus:visited {
    background-color: gray;
    color: black;
}

.register-btn:active {
    background-color: black;
    color: white;
    transform: translateY(3px);
}

.error-register-message {
    color: red;
    font-family: sans-serif;
    margin-top: -5px;
}

.register-label{
    font-size: 26px;
    margin-left: 20px;
}

