.tab-header{
    margin-right: 100%;
}

.delete-btn{
    float: inherit;
    background-color: #FA8072;
    color: #FFFFFF;
}

.station-jum{
    background-color: #FAEBD7;
    width: 100%;
}

.align-center{
     text-align: center;
 }

.add-submit-btn{
    background-color: darkslategray;
    color: white;
}

.add-station-form{
    margin-left: 16%;
}

.add-station-header{
    float: left;
}

.station-error-message {
    color: red;
}

.station-table{
    cursor: pointer
}