
.ticket-search-jum{
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    height: 200px;
    margin-top: 50px;
}

.search-form{
    text-align: center;
    margin-top: 3%;
}

.select-form .Select-control {
    height: 35px;
    width: 200px;
    font-family: sans-serif;
}


.select-form .Select-placeholder,
.Select--single > .Select-control .Select-value {
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-form .Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    font-family: sans-serif;
    font-size: 14px;
}

.train-date-input {
    width: 150px;;
    height: 35px;
    position: relative;
    top: -5px;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 0px;
    border: 2px solid #ccc;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    text-align-last: center;
}


.ticket-jum{
    height: 450px;
    background-image: url("../img/train.jpg");
}

.search-submit-btn{
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 1px;
}

.react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
}