.route-point-dialog .modal-dialog{
    margin-top: 30%;
}

.train-jum{
    background-color: #FAEBD7;
    width: 100%;
}

.tab-header{
    margin-right: 100%;
}

.delete-btn{
    float: inherit;
    background-color: #FA8072;
    color: #FFFFFF;
}

.route-btn{
    align-content: center;
    background-color: #2F4F4F;
    color: #FFFFFF;
}

.align-center{
    text-align: center;
}

.modal-body{
    border-radius: 2px;
    background-color: #FAEBD7;
}

.modal-header {
    border-radius: 2px;
    background-color: #FAEBD7;
}

.yes-btn{
    background-color: darkslategray;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
}

.no-btn{
    border-radius: 3px;
    margin-right: 5px;
}

.dialog-body{
    border-radius: 3px;
    text-align: center;
}

.add-btn{
    border-radius: 1px;
}

.add-form{
    margin-left: 13%;
}

.add-submit-btn{
    background-color: darkslategray;
    color: white;
}

.add-input{
    font-size: 16px;
}

.add-route-point-btn{
    background-color: darkslategray;
    color: white;
    border-radius: 1px;
}

th {text-align:center}