.trains{
    font-family: sans-serif;
}

.add-train-form{
    width: 300px;
}

.add-train-input {
    width: 250px;
    padding: 10px 20px;
    margin: 8px 0;
    display: block;
    border: 2px solid gray;
    box-sizing: border-box;
}

.add-train-btn {
    background-color: darkslategray;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 250px;
    display: block;
}

.add-train-btn:active {
    background-color: white;
    color: darkslategray;
    transform: translateY(3px);
}

.get-route-btn{
    background-color: darkslategray;
    color: white;
    border: none;
    cursor: pointer;
    width:70px;
    height: 25px;
    display: block;
}

.get-route-btn:active {
    background-color: white;
    color: darkslategray;
    transform: translateY(3px);
}

.remove-train-btn{
    background-color: indianred;
    color: white;
    border: none;
    cursor: pointer;
    width:70px;
    height: 25px;
    display: block;
}

.remove-route-point-btn{
    background-color: indianred;
    color: white;
    border: none;
    cursor: pointer;
    width:70px;
    height: 25px;
    display: block;
}

.remove-train-btn:active {
    background-color: white;
    color: indianred;
    transform: translateY(3px);
}

.remove-route-point-btn:active {
    background-color: white;
    color: indianred;
    transform: translateY(3px);
}

.train-error-message{
    color: red;
}

.train-success-message{
    color: gray;
}